$dark-blue: #0f1a26;
$dark-brown: #22180d;
$honey-yellow: #e5ab09;
$mustard-yellow: #bc7201;
$mustard-orange: #6a2202;

$prussian-blue: (
  hsl(205, 100%, 16%),
  hsl(205, 100%, 33%),
  hsl(205, 100%, 50%),
  hsl(205, 100%, 66%),
  hsl(205, 100%, 83%)
);
