@import '../base/settings';

.cardContainer {
  position: relative;
  width: min(1050px * 0.5, 100vw);
  height: min(600px * 0.5, 100vh);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  box-shadow: 0 4px 8px 0 $mustard-orange;

  &:hover,
  &:active,
  &:focus {
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px 0 $mustard-orange;
  }
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: $honey-yellow;
  color: $dark-brown;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: $honey-yellow;
  color: #333;
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
