// Colors
$dark-blue: #0f1a26;
$dark-brown: #22180d;
$honey-yellow: #e5ab09;
$mustard-yellow: #bc7201;
$mustard-orange: #6a2202;

// Spacing
$s-size: 1.6rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 6rem;
$desktop-breakpoint: 76.8rem;
